@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.nav-main {
  mix-blend-mode: difference;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 999;
}
.nav-main ul {
  list-style: none;
}
.nav-main ul li {
  display: inline-flex;
  text-transform: uppercase;
  padding: 5rem;
  font-size: 2rem;
}
.nav-main ul li:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 10%;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #D9CCC5;
}
.nav-main ul li:hover::before {
  width: 60px;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .nav-main {
    display: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  background-color: #dcdcdc;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
html ::selection, body ::selection {
  color: #dcdcdc;
  background: #1e1e1e;
}
html section, body section {
  width: 100%;
}
html a, body a {
  color: #D9CCC5;
  text-decoration: none;
}

.landing-container {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-container .logo-container {
  display: flex;
  flex-flow: column;
}
.landing-container .logo-container > div {
  display: flex;
}
.landing-container .circle {
  position: absolute;
  top: 20%;
  right: 10%;
}
.landing-container .explore-container {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
}
.landing-container .explore-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 70%;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #1e1e1e;
}
.landing-container .explore-container:hover::after {
  width: 100%;
  opacity: 1;
}
.landing-container .explore-container > a, .landing-container .explore-container > p {
  color: #1e1e1e;
  font-size: 7rem;
  user-select: none;
}

.cursor2 {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #D9CCC5;
  opacity: 0.6;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 1000;
}

.cursorhover {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.motto-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  word-wrap: break-word;
}
.motto-container h1 {
  font-size: clamp(1rem, 12vw, 10rem);
  color: #1e1e1e;
  text-transform: uppercase;
}

.about-container {
  width: 100%;
  display: flex;
}
.about-container > h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: #D9CCC5;
  font-family: "Archivo", sans-serif;
  font-size: clamp(1rem, 10vw, 10rem);
}
.about-container > h1 > span {
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  font-size: clamp(1rem, 5vw, 10rem);
}

.about-grid {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(12, 1fr);
  color: #dcdcdc;
  font-weight: 100;
}
.about-grid .about-me {
  margin: 0;
  padding: 0;
  grid-area: 1/3/1/15;
  font-size: 7rem;
}
.about-grid .about-me > span {
  font-family: "Archivo", sans-serif;
}
.about-grid .about-pic {
  grid-area: 4/5/10/15;
}
.about-grid .about-pic > img {
  width: 400px;
}
.about-grid .about-pic2 {
  grid-area: 8/12/12/15;
}
.about-grid .about-pic2 > img {
  width: 400px;
}
.about-grid .about-story {
  grid-area: 4/8/12/15;
  font-size: 2rem;
  mix-blend-mode: difference;
}
.about-grid .about-artsy {
  font-size: 2rem;
  grid-area: 8/3/12/7;
}

.projects-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.projects-container > h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: #D9CCC5;
  font-family: "Archivo", sans-serif;
  font-size: clamp(1rem, 10vw, 10rem);
}

.projects-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.single-project-container {
  display: flex;
  flex-flow: column;
  background-color: #404040;
  flex-flow: row-reverse;
}
.single-project-container .single-project-content {
  width: 80%;
  height: 100%;
}
.single-project-container .single-project-content > img {
  width: 300px;
  overflow: hidden;
}
.single-project-container > h1 {
  text-transform: uppercase;
  color: #D9CCC5;
  font-family: "Archivo", sans-serif;
  font-size: clamp(1rem, 5vw, 7rem);
  text-orientation: mixed;
  writing-mode: sideways-lr;
  margin: 0;
}
.single-project-container > p {
  text-transform: uppercase;
  color: #D9CCC5;
  font-family: "Archivo", sans-serif;
  max-width: 50px;
  font-size: 1rem;
}

/*# sourceMappingURL=settings.css.map */
