@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.nav-main {
  mix-blend-mode: difference;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 999;
}
.nav-main ul {
  list-style: none;
}
.nav-main ul li {
  display: inline-flex;
  text-transform: uppercase;
  padding: 5rem;
  font-size: 2rem;
}
.nav-main ul li:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 10%;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #D9CCC5;
}
.nav-main ul li:hover::before {
  width: 60px;
  opacity: 1;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  background-color: #404040;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
html ::selection, body ::selection {
  color: #dcdcdc;
  background: #1e1e1e;
}
html section, body section {
  width: 100%;
  height: 100vh;
}
html a, body a {
  color: #D9CCC5;
  text-decoration: none;
}

.landing-container {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-container .logo-container {
  display: flex;
  flex-flow: column;
}
.landing-container .logo-container > div {
  display: flex;
}
.landing-container .circle {
  position: absolute;
  top: 20%;
  right: 10%;
}
.landing-container .explore-container {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 3px solid #D9CCC5;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, height 0.3s ease;
}
.landing-container .explore-container:hover {
  width: 20rem;
  height: 20rem;
  transition: width 0.3s ease, height 0.3s ease;
}
.landing-container .explore-container > a {
  color: #D9CCC5;
  font-size: 2rem;
  user-select: none;
}

@media screen and (max-width: 992px) {
  .explore-container {
    display: none;
  }

  .circle {
    display: none;
  }
}
.cursor2 {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #D9CCC5;
  opacity: 0.6;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 1000;
}

.cursorhover {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.motto-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.motto-container h1 {
  font-size: clamp(1rem, 12vw, 10rem);
  color: #D9CCC5;
}
.motto-container .grd-bg {
  background: url("../../public/assets/holo_bg.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes slide-in-text {
  0% {
    opacity: 1;
    transform: translate3d(0, 170, 0) rotateX(-50) rotate(18) skew(18, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.about-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-items: center;
}
.about-container > h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: #D9CCC5;
  font-family: "Archivo", sans-serif;
  font-size: clamp(1rem, 10vw, 10rem);
}
.about-container > h1 > span {
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  font-size: clamp(1rem, 5vw, 10rem);
}

/*# sourceMappingURL=settings.css.map */
