.contact-container {
    width: 100%;
    height: 100vh;

    .contact-title {
        width: 100%;

        &>h1 {
            font-size: $x-large;
            font-family: $archivo;
            text-transform: uppercase;
        }
    }

    .contact-list {
        display: flex;
        margin: 0 5%;
        flex-flow: column;
        
        &>div {
            border: 5px solid $blk;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.5rem 0;
            padding: 0 1rem;

            &>a {
                color: $blk;
            }

        }
    }
}