.cursor2 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $slmn;
    opacity: .6;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 1000;
}
.cursorhover {
    width: 50px;
    height: 50px;
    opacity: 0.8;
}