.landing-container {
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-container {
        display: flex;
        flex-flow: column;
    }

    .explore-container {
        position: absolute;
        bottom: 10%;
        left: 10%;
        display: flex;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        border: 3px solid $slmn;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease,height 0.3s ease;

        &:hover{
            width: 20rem;
            height: 20rem;
            transition: width 0.3s ease, height 0.3s ease;

            &>a::after {
                // opacity: 1;
                // transform: translate3d(0, 0, 0);
                // transition: transform 0.3s ease;
            }
        }


        &>a {
            color: $slmn;
            font-size:$medium;
            user-select: none;
            // &::after {
            //     content: '';
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 0.1em;
            //     background-color: $slmn;
            //     opacity: 0;
            //     transition: transform 0.3s ease;
            //     transform: translate3d(-100%, 0, 0);
            // }
        }
    }
}