    .nav-main {
        // background-color: $blk;
        mix-blend-mode: difference;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        z-index: 999;

        .mobile-menu {
            display: none;
        }

        ul {
            list-style: none;
            
            li {
                display: inline-flex;
                text-transform: uppercase;
                padding: 5rem;
                font-size: $medium;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        top: 10%;
                        width: 0px;
                        height: 5px;
                        margin: 5px 0 0;
                        transition: all 0.2s ease;
                        transition-duration: 0.3s;
                        opacity: 0;
                        background-color: $slmn;

                    }
                    &:hover::before {
                        // left: 50%;
                        width: 60px;
                        opacity: 1;
                    }

            }
        }
        .lang-select {
            text-transform: uppercase;
            padding: 1rem;
            font-family: $questrial;
            cursor: pointer;
        }
    }

@media screen and (max-width: 600px) {
    .nav-main {
        position: fixed;
        left: 0;
        top: 0;
        transform: translate3d(-150vw, 0, 0);
                
        width: 100vw;
        height: 100vh;
    }    
    }
@media screen and (max-width: 600px) {
    .mobile-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
    }
}
    