.projects-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &>h1 {
        font-size: $x-large;
        text-transform: uppercase;
        color: $slmn;
        font-family: $archivo;
        font-size: clamp(1rem, 10vw, $x-large);
    }


}
.projects-grid {
    display: flex;
    // height: 100vh;
    width: 100%;
    // grid-template-columns: repeat(15,1fr);
    // grid-template-rows: repeat(15,1fr);
    justify-content: space-between;
}