.skills-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &>h1 {
        text-transform: uppercase;
        font-size: $x-large;
        margin:5% 0;
        font-family: $archivo;
    }

}

.skills-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $blk;
    font-weight: 100;
    justify-content: center;
    margin: 20rem 0;

    .single-skill{
        margin: 8vh;
        padding: 4vh;
        background-color: $blk;
        color: $lght-gry;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .size-4 {
        width: 15vh;
        height: 15vh;
    }

    .size-3 {
        width: 10vh;
        height: 10vh;
    }
    .size-2 {
        width: 6vh;
        height: 6vh;
    }


@media screen and (max-width:900px) {
    .skills-grid {
        display: flex;
        flex-flow: column;
        align-items: center;

        // .single-skill{
        //     padding: 10vh 0;
        // }
    }
}
}