@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

// NOTE: Colours
$blk: #1e1e1e;
$gry: #404040;
$lght-gry: #e4e4e4;
$slmn: #D9CCC5;

// NOTE: Fonts
$archivo: 'Archivo', sans-serif;
$questrial: 'Questrial', sans-serif;

//NOTE: Sizes
$small: 1rem;
$medium: 2rem;
$large: 7rem;
$x-large: 10rem;