@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;900&display=swap");

// NOTE: Colours
$blk: #0d0d0d;
$gry: #8A96A6;
$lght-gry: #d9d9d9;
$drk-gry: #64758C;
$blue-gry: #1B2B40;

// NOTE: Fonts
$questrial: "Questrial", sans-serif;
$unbounded: "Unbounded", cursive;

//NOTE: Sizes
$small: 1rem;
$medium: calc(0.5rem + 1vw);
$large: calc(1rem + 3vw);
$x-large: calc(1rem + 10vw);
